body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.head{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.eat-healthy{
    width: 50%;
    color: slategray;
    font-size: 40px;
}
.head img{
    width: 80%;
}
.different-color{
    color: #cc2b5e;
}
.paragraph{
    color: rgb(32, 32, 32);
    font-size: x-large;
    text-align: left;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#cc2b5e, #753a88);
    padding: 10px 20px;
    border-radius: 30px;
    color: ivory;
    font-size: 20px;
}
.belly{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.belly img{
    width: 80%;
    padding-left: 50px;
}
.about-us{
    width: 50%;
    color: #cc2b5e;
    font-size: 40px;
}
.tail{
    display: flex;
    color: #cc2b5e;
    padding-left: 50px;
    padding-right: 50px;
    /* align-content: center; */
    /* width: 33.33%; */
}
.tail img{
    width: 100%;
    border-radius: 50px;
}
.services{
    text-align: center;
    font-size: 25px;
    color: #cc2b5e;
}
.services p{
    font-size: medium;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}
.bounding-box{
  width: 40%;
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgb(59, 59, 59);
  border-radius: 50px;
  padding: 30px;
  margin: 0 30px;
}
